/* Diego Martinez Menendez - UO270457 

W. White #FFFFFF
B. Black #000000

1. Olive Green #9BA216 	B
2. Dark Green #304606 	W, 3, 4, 5
3. Chartreuse #D6E024 	B, 2, 7
4. Yellow Green #EBF094 B, 2, 7

5. Mauve #E6D1DC 		B, 2, 7 
6. Lavender #C197D2		B
7. Orchid #5B3354 		w, 3, 4, 5
*/

/*Especificidad: 001*/
main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/*Especificidad: 002*/
main section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    min-width: 20em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /*11+1 porque incluye el h2*/
    align-self: center;
    max-width: 100%;
    min-height: 40em;
    /* Ajustar padding izquierdo para centrar */
}

/*Especificidad: 001*/
h3 {
    flex-basis: 100%;
}

/*Especificidad: 003*/
main section p {
    flex-basis: calc(100% / 9);
    box-sizing: border-box;
    padding: 2%;
    margin: 0;
    color: grey;
    background-color: white;
    text-align: center;
    border-color: black;
    font-weight: bold;
    border-width: 0.1em;
    border-style: dashed;
    font-size: .82em;
}

/*Especificidad: 011 
No hace falta background-color
porque está de antes, de p*/
p[data-state="blocked"] {
    font-weight: bold;
    color: black;

}

/*Especificidad: 011 
No hace falta color
porque está de antes, de p*/
p[data-state="clicked"] {
    background-color: rgb(169, 212, 230);
}

/*Especificidad: 011 
No hace falta color
porque está de antes, de p*/
p[data-state="incorrect"] {
    background-color: rgb(247, 144, 137);
}


/*Especificidad: 011*/
p:nth-child(3n+2) {
    border-left-width: 0.2em;
    border-left-style: solid;
}

/*Especificidad: 011*/
p:nth-child(3n-2) {
    border-right-width: 0.2em;
    border-right-style: solid;
}

/*Especificidad: 021*/
p:nth-child(n+20):nth-child(-n+28),
p:nth-child(n+47):nth-child(-n+55),
p:nth-child(n+74):nth-child(-n+82) {
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}

/*Especificidad: 021*/
p:nth-child(n+1):nth-child(-n+10),
p:nth-child(n+29):nth-child(-n+37),
p:nth-child(n+56):nth-child(-n+64) {
    border-top-width: 0.2em;
    border-top-style: solid;
}