/* Diego Martinez Menendez - UO270457 

W. White #FFFFFF
B. Black #000000

1. Olive Green #9BA216 	B
2. Dark Green #304606 	W, 3, 4, 5
3. Chartreuse #D6E024 	B, 2, 7
4. Yellow Green #EBF094 B, 2, 7

5. Mauve #E6D1DC 		B, 2, 7 
6. Lavender #C197D2		B
7. Orchid #5B3354 		w, 3, 4, 5
*/

/*Especificidad: 001*/
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border-width: 0.3em;
    border-style: solid;
    border-color: black;
    width: 40em;
    height: 40em;
    margin:auto;
    align-self: center;
}

/*Especificidad: 001*/
p {
    padding-top: 1.5em;
    margin: 0;
    color:grey;
    background-color: white;
    text-align: center;
    border-color: black;
    font-weight: bold;
}


/*Especificidad: 002*/
p span{
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

/*Especificidad: 011*/
p:nth-child(3n-1),p:nth-child(3n)  {
    border-right-width: 0.1em;
    border-right-style: dashed;
}

/*Especificidad: 011*/
p:nth-child(3n+1) {
    border-right-width: 0.2em;
    border-right-style: solid;
}

/*Especificidad: 011*/
p:nth-child(-n+82) {
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}

/*Especificidad: 011*/
p:nth-child(-n+73) {
    border-bottom-width: 0.1em;
    border-bottom-style: dashed;
}

/*Especificidad: 011*/
p:nth-child(-n+55) {
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}

/*Especificidad: 011*/
p:nth-child(-n+46) {
    border-bottom-width: 0.1em;
    border-bottom-style: dashed;
}

/*Especificidad: 011*/
p:nth-child(-n+28) {
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}


p:nth-child(-n+19) {
    border-bottom-width: 0.1em;
    border-bottom-style: dashed;
}