/* Diego Martinez Menendez - UO270457 

W. White #FFFFFF
B. Black #000000

1. Olive Green #9BA216 	B
2. Dark Green #304606 	W, 3, 4, 5
3. Chartreuse #D6E024 	B, 2, 7
4. Yellow Green #EBF094 B, 2, 7

5. Mauve #E6D1DC 		B, 2, 7 
6. Lavender #C197D2		B
7. Orchid #5B3354 		w, 3, 4, 5
*/

/*Especificidad: 001*/
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 40em;
    height: auto;
    max-height: 50em;
    margin: auto;
    align-self: center;
}

/*Especificidad: 001*/
h3 {
    flex-basis: 100%; 
}

/*Especificidad: 001*/
p {
    flex-basis: calc(100% / 9); 
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
    color: grey;
    background-color: white;
    text-align: center;
    border-color: black;
    font-weight: bold;
    border-width: 0.1em;
    border-style: dashed;
}

/*Especificidad: 011 
No hace falta background-color
porque está de antes, de p*/
p[data-state="blocked"] {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

/*Especificidad: 011*/
p:nth-child(3n) {
    border-left-width: 0.2em;
    border-left-style: solid;
}

/*Especificidad: 011*/
p:nth-child(3n+2) {
    border-right-width: 0.2em;
    border-right-style: solid;
}


/*Especificidad: 021*/
p:nth-child(n+21):nth-child(-n+29),
p:nth-child(n+48):nth-child(-n+56),
p:nth-child(n+75):nth-child(-n+83) {
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}

/*Especificidad: 021*/
p:nth-child(n+2):nth-child(-n+11),
p:nth-child(n+30):nth-child(-n+38),
p:nth-child(n+57):nth-child(-n+65) {
    border-top-width: 0.2em;
    border-top-style: solid;
}