/* Diego Martinez Menendez - UO270457 

W. White #FFFFFF
B. Black #000000

1. Olive Green #9BA216 	B
2. Dark Green #304606 	W, 3, 4, 5
3. Chartreuse #D6E024 	B, 2, 7
4. Yellow Green #EBF094 B, 2, 7

5. Mauve #E6D1DC 		B, 2, 7 
6. Lavender #C197D2		B
7. Orchid #5B3354 		w, 3, 4, 5
*/

/*Especificidad: 001*/
section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*Especificidad: 001*/
section h2 {
    flex-basis: 100%;
    margin: 1.1em;
}

/*Especificidad: 001*/
h3 {
    border-color: #5B3354;
    border-style: solid;

}

/*Especificidad: 001*/
article {
    display: flex;
    flex-direction: column;
    background-color: #EBF094;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    box-sizing: border-box;
}


/*Especificidad: 002*/
article p {
    color: black;
}

/*Especificidad: 012*/
article p[data-element="entradilla"] {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}


article p[data-element="autor"] {
    text-align: end;
}

/*Especificidad: 001*/
input,
textarea {
    display: block;
    margin: 0.8em 0;
    padding: 0.8em;
    outline: none;
}

/*Especificidad: 001*/
button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5B3354;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s;
}

/*Especificidad: 011*/
button:hover {
    transform: scale(1.1);
}

/*Especificidad: 011*/
button:active {
    transform: scale(0.9);
}